<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>

    <title>{{ title }}</title>
    <style>

        body {
            background: url(../static/img/fon.jpg);
            background-attachment: fixed;
        }

    </style>
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>

        <div class="uk-navbar-left">
            {% if current_user.is_authenticated %}
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/logout">{{ current_user.name }} {{ current_user.surname }}</a></li>
                </ul>
            {% else %}
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/register">Регистрация</a></li>
                    <li class="uk-active"><a href="/login">Войти</a></li>
                </ul>
                </div>
            {% endif %}
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">Главная</a></li>
                <li class="uk-active"><a href="/all_problems">Проблемы</a></li>
                {% if current_user.is_authenticated %}
                    <li class="uk-active"><a href="/my_problems">Мои проблемы</a></li>
                {% endif %}
                <li class="uk-active"><a href="/all_thanks">Благодарности</a></li>
                <li class="uk-active"><a href="/resolved_problems">Решённые проблемы</a></li>
            </ul>
        </div>
    </nav>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>