{% extends "base.html" %}

{% block content %}
<!-- <div style="hight: 100%; width: 100%; align: center;"> -->
<h1 style="position: absolute; top: 12%; left: 43%; font-weight: bold;">Карта проблем</h1>
<div id="map" style="width: 100%; height: 800px; padding: 20% 20% 0% 20%;"></div>
<form style="position: absolute; left: 34%; top: 20%;" method="post">
    <button class="btn btn{{ backlight[0] }}-danger" type="submit" name="category" value="0" style="margin: 15px;">Дорожная</button>
    <button class="btn btn{{ backlight[1] }}-danger" type="submit" name="category" value="1" style="margin: 15px;">Экологическая</button>
    <button class="btn btn{{ backlight[2] }}-danger" type="submit" name="category" value="2" style="margin: 15px;">ЖКХ</button>
    <button class="btn btn{{ backlight[3] }}-danger" type="submit" name="category" value="3" style="margin: 15px;">Другая</button>
    <button class="btn btn{{ backlight[4] }}-danger" type="submit" name="category" value="4" style="margin: 15px;">Все</button>
          </form>
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map("map", {
        // Центр карты, указываем коордианты
        center:[{{ lon }}, {{ lat }}],
        // Масштаб, тут все просто
        zoom: 9,
        // Отключаем все элементы управления
        controls: ['zoomControl', 'fullscreenControl']
    });

    var myGeoObjects = [];

    // Наша метка, указываем коордианты
    {% for i in list_problems %}
        myGeoObjects[{{ loop.index - 1 }}] = new ymaps.Placemark([{{ i['lat'] }}, {{ i['lon'] }}],{
                        balloonContentHeader: '<a href = "#">{{ i['name'] }}</a><br>' +
                        '<span style="color: {{ i['color'] }};">{{ i['category'] }} проблема</span>',
                        {% if i['ver'] == True %}
                        balloonContentBody: '<img src="static/img/img_problems/{{ i['id'] }}.jpg" height="{{ i['size'][1] }}" width="{{ i['size'][0] }}"> <br/> ' +
                        '<img src="static/img/verified.png" height="32" width="150"> <br/> ',
                        {% else %}
                        balloonContentBody: '<img src="static/img/img_problems/{{ i['id'] }}.jpg" height="{{ i['size'][1] }}" width="{{ i['size'][0] }}"> <br/> ',
                        {% endif %}
                        balloonContentFooter: 'Проблема обнародована:<br/> {{ i['date'] }}<br/><a href = "http://localhost:{{ url }}/problem/{{ i['id'] }}">Узнать поподробнее</a>',}
                        ,{
                        iconLayout: 'default#image',
                        // Путь до нашей картинки
                        iconImageHref: 'static/img/{{ i['label'] }}',
                        // Размер по ширине и высоте
                        iconImageSize: [50, 50],
                        // Смещение левого верхнего угла иконки относительно
                        // её «ножки» (точки привязки).
                        iconImageOffset: [-25, -45]
    });
    {% endfor %}
    var clusterer = new ymaps.Clusterer({
        clusterDisableClickZoom: false,
        clusterOpenBalloonOnClick: false,
    });

    clusterer.add(myGeoObjects);
    myMap.geoObjects.add(clusterer);
}</script>
{% endblock %}