{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <div style="position: absolute; top: 6%; left:25%; width: 50%; color: white;
    border: 4px solid black; padding: 10px; background-color: rgb(28, 28, 28); font-size: large; height: 400%">
        <form method="post"><div>
            <button type="submit" class="btn btn{{ backlight[0] }}-secondary" name="options" value="0">По новизне</button>
            <button type="submit" class="btn btn{{ backlight[1] }}-secondary" name="options" value="1">По актуальности</button>
            <select class="form-select" aria-label="Default select example" name="region">
                <option selected value="все">Все регионы</option>
                {% for i in lst_regions %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select><input class="btn btn-primary" type="submit" value="Перестроить" name="submit_button">
        </div></form>
        {% for i in list_problems %}
        <section>
            <article class="cell">
                <div style="text-align: center;">
                    <h3>
                        <a>{{ i['name'] }}</a>
                    </h3>
                    <!-- <div>
                        <div>{{ i['description'] }}</div>
                    </div> -->
                    <div>
                        <div style="color: {{ i['color'] }}">{{ i['category'] }} проблема</div>
                    </div>
                    <div>
                        <div>Опубликована: {{ i['date'] }}</div>
                    </div>
                    <div>
                        <img src="../static/img/img_problems/{{ i['id'] }}.jpg" style="text-align: center;" height="50%" width="50%">
                    </div>
                    <div>
                        <div style="text-align: left; padding: 10px 40px;">  {{ i['text'] }}</div>
                    </div>
                    {% if i['ver'] == True %}
                        <div>
                        <img src="../static/img/verified.png" style="text-align: center;" height="50%" width="50%">
                    </div>
                    {% endif %}
                    <form method="post">
                        {% for j in lst_confir %}
                            {% if j[0] == i['id'] %}
                        <button class="btn btn{{ j[1] }}-primary"  type="submit" name="{{ i['id'] }}" value="{{ i['id'] }}">Подтвердить</button></form>
                    {% endif %}
                    {% endfor %}

                </div>
            </article>
        </section>
        {% endfor %}
        </div>
{% endblock %}