{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <div style="position: absolute; top: 6%; left:25%; width: 50%; color: white;
    border: 4px solid black; padding: 10px; background-color: rgb(28, 28, 28); font-size: large; height: {{ len_pr }}%">
        <div><form method="post">
            <button type="submit" class="btn btn{{ backlight[0] }}-secondary" name="options" value="0">По новизне</button>
            <button type="submit" class="btn btn{{ backlight[1] }}-secondary" name="options" value="1">По актуальности</button></form></div>
            {% if not thank %}
            <form action="">
                <select class="form-select" aria-label="Default select example" style="position: absolute; left: 35%; top: 0.2%; width: 300px;" name="lst">
                <option selected value="0">Все регионы</option>
                {% for i in lst_regions %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select>
                </form>
            <script>
                const formSelect = document.querySelector('.form-select')
                const form = document.querySelector('form')
                // если форм несколько, то лучше добавить поиск элемента так: document.querySelector('.класс')
                // или document.querySelector('#id')

                formSelect.addEventListener('input', function(evt){
                    evt.preventDefault();

                    submitOption()
                })
                const onLoadSuccess = (data) => {
                    console.log('load', data);
                }
                const onLoadError = (data) => {
                    console.log('err', data);
                }
                // выводы в консоль можно будет удалить

                const loadData = function(data, onSuccess, onError){
                fetch('http://localhost:{{ url }}/all_problems', {
                    // Выше, где https:// нужно написать адрес, куда отправляются данные
                method: 'POST',
                body: data,
                 }).then(onSuccess).catch(onError)};

                const submitOption = function(){
                    const dataForm =  new FormData(form);
                    loadData(dataForm, onLoadSuccess, onLoadError);

                }
            </script>
            <!-- <input class="btn btn-primary" type="submit" value="Перестроить" name="submit_button"> -->
        {% endif %}
        {% for i in list_problems %}
        <section>
            <article class="cell">
                <div style="text-align: center;">
                    <h3>
                        <a>{{ i['name'] }}</a>
                    </h3>
                    {% if not thank %}
                    <div>
                        <div style="color: {{ i['color'] }}">{{ i['category'] }} проблема</div>
                    </div>
                    {% endif %}
                    <div>
                        <div>Опубликована: {{ i['date'] }}</div>
                    </div>
                    {% if not thank %}
                    <div>
                        <img src="../static/img/img_problems/{{ i['id'] }}.jpg" style="text-align: center;" height="50%" width="50%">
                    </div>
                    {% if i['ver'] == True %}
                        <div>
                        <img src="../static/img/verified.png" style="text-align: center;" height="50%" width="50%">
                    </div>
                    {% endif %}
                    {% if current_user.is_authenticated and not my_problems %}
                    <form method="post">
                       {% if i['pub'] == 0 %}
                        <button class="btn btn-outline-primary"  type="submit" name="prob_0" value="{{ i['id'] }}">Подтвердить</button></form>
                        {% elif i['pub'] == -1 %}
                        <button class="btn btn-primary"  type="submit" name="prob_1" value="{{ i['id'] }}">Подтвердить</button></form>
                        {% else %}
                        <button class="btn btn-danger"  type="submit" disabled>Опубликована</button></form>
                        {% endif %}
                    {% elif my_problems == True %}
                    <div style="text-align: center;">Количество подтверждений: {{ i['n_ver'] }}</div>
                    {% endif %}
                    {% else %}
                    <div>
                        <img src="../static/img/thanks/{{ i['id'] }}.jpg" style="text-align: center;" height="50%" width="50%">
                    </div>
                    <div>
                        <div style="text-align: left; padding: 10px 40px;">  {{ i['text'] }}</div>
                    </div>
                    {% endif %}
                </div>
            </article>
        </section>
        {% endfor %}
        </div>
{% endblock %}