{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <div style="position: absolute; top: 6%; left:25%; width: 50%; color: white;
    border: 4px solid black; padding: 10px; background-color: rgb(28, 28, 28); font-size: large; height: {{ len_pr }}%">
        {% if list_problems != [] %}
        <div><form method="post">
            <button type="submit" class="btn btn{{ backlight[0] }}-secondary" name="options" value="0">По новизне</button>
            {% if not thank %}
            <button type="submit" class="btn btn{{ backlight[1] }}-secondary" name="options" value="1">По актуальности</button></form></div>
            <form action="">
                <select class="form-select" aria-label="Default select example" style="position: absolute; left: 35%; top: 0.2%; width: 300px;" name="lst">
                <option selected value="0">Все регионы</option>
                {% for i in lst_regions %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select>
                </form>
            <script>
                const formSelect = document.querySelector('.form-select')
                const form = document.querySelector('form')
                // если форм несколько, то лучше добавить поиск элемента так: document.querySelector('.класс')
                // или document.querySelector('#id')

                formSelect.addEventListener('input', function(evt){
                    evt.preventDefault();

                    submitOption()
                })
                const onLoadSuccess = (data) => {
                    console.log('load', data);
                }
                const onLoadError = (data) => {
                    console.log('err', data);
                }
                // выводы в консоль можно будет удалить

                const loadData = function(data, onSuccess, onError){
                fetch('http://localhost:{{ url }}/all_problems', {
                    // Выше, где https:// нужно написать адрес, куда отправляются данные
                method: 'POST',
                body: data,
                 }).then(onSuccess).catch(onError)};

                const submitOption = function(){
                    const dataForm =  new FormData(form);
                    loadData(dataForm, onLoadSuccess, onLoadError);

                }
            </script>
            <!-- <input class="btn btn-primary" type="submit" value="Перестроить" name="submit_button"> -->
        {% else %}
        <button type="submit" class="btn btn{{ backlight[1] }}-secondary" name="options" value="1">По популярности</button></form></div>
        {% endif %}
            {% for i in list_problems %}
            <section>
                <article class="cell">
                    <div style="text-align: center;">
                        <h3>
                            <a>{{ i['name'] }}</a>
                        </h3>
                        <div>
                            <div style="color: {{ i['color'] }}">{{ i['category'] }} проблема</div>
                        </div>
                        <div>
                            <div>Опубликована: {{ i['date'] }}</div>
                        </div>
                        <div>
                            <img src="../static/img/resolved_problems/{{ i['id'] }}.jpg" style="text-align: center;" height="50%" width="50%">
                        </div>
                        <div>
                            <div style="text-align: left; padding: 10px 40px;">  {{ i['text'] }}</div>
                        </div>
                        {% if  not i['rating'] %}
                        <h4>Данные об рейтинге отсутствуют</h4>
                        {% else %}
                        <h4 style="padding: 0px;">Рейтинг</nobr></h4>
                        <link rel="stylesheet" type="text/css" href="../static/css/star.css"/>
                        <div class="rating-result">
                            {% for j in range(i['rating']) %}
                        	    <span class="active"></span>
                            {% endfor %}
                            {% for j in range(5 - i['rating']) %}
                        	    <span></span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form method="post" style="margin: 10px 0px;">
                        {% if i['pub'] == 1 %}

                        <link rel="stylesheet" type="text/css" href="../static/css/star.css"/>
                        <div class="rating-result">
                            <h4 style="padding: 0px;"><nobr>Ваша оценка</nobr></h4>
                            {% for j in range(i['my_rating']) %}
                        	    <span class="active"></span>
                            {% endfor %}
                            {% for j in range(5 - i['my_rating']) %}
                        	    <span></span>
                            {% endfor %}
                        </div>
                        {% elif current_user.is_authenticated %}
                            <form action="">
                            <select class="form-select" aria-label="Default select example" name="rating" style="width: 70px; position: absolute; top: 47%; left: 35%;">
                                <option selected value="1">1</option>
                                <option selected value="2">2</option>
                                <option selected value="3">3</option>
                                <option selected value="4">4</option>
                                <option selected value="5">5</option>
                            </select><button class="btn btn-outline-danger"  type="submit" name="problem" value="{{ i['id'] }}">Оценить</button>
                            </form>

                        {% endif %}
                        <form method="post" action="http://localhost:{{ url }}/problem/{{ i['id_problem'] }}">
                            <button class="btn btn-outline-primary">Перейти к проблеме</button></form>
                    </div>
                </article>
            </section>
            {% endfor %}
        {% else %}
                    <div style="text-align: center; padding: 15px;">
                        <h3>
                            <a>По данному запросу нет решённых проблем</a>
                        </h3>
                    </div>
        {% endif %}
        </div>
{% endblock %}